<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>Delete Owner</h2>
  
  <form th:object="${owner}" class="form-horizontal" id="add-owner-form" method="post">
	<div class="form-group">
	  	<p>Do you really want to delete owner <b th:text="*{firstName + ' ' + lastName}"></b> ?</p>
	</div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          
          <button
          	class="btn btn-primary" type="submit">Yes
          </button>
          <a class="btn btn-primary" th:href="@{/owners/__${owner.id}__}">Cancel</a>
          
      </div>
    </div>
  </form>
</body>
</html>